
.main-category-underline::after {
    content: "";
    position: absolute;
    top: 45px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    padding: 0 0 8px;
    width: 48px;
    border-bottom: 2px solid #c5c6c9;
    transition: all 0.5s ease;
}

.main-category-underline:hover::after {
    padding: 0 40px 8px;
    border-color: #1dbf73;
}

